PIWIK_URL=https://...
PIWIK_TOKEN=get it from settings > platform > api, without the &token_auth= prefix
PIWIK_SITE_IDS=23,42
APP_ENV=development
INFLUX_HOST=hostname
INFLUX_USER_NAME=username
INFLUX_PASSWORD=password
INFLUX_DB_NAME=matomo
INFLUX_PORT=443
